*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: #111111;
  transition: 0.1s linear;
}
a:hover {
  color: #de392e;
}
img {
  display: block;
  width: 100%;
}
h1,
h2,
h3 {
  letter-spacing: 1px;
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #111111;
  background: #ffffff;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

/* Header */

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.logo {
  width: 64px;
  height: 32px;
  object-fit: cover;
}

.nav {
  display: flex;
}

.nav_link {
  padding: 0 20px;
}

.burger {
  display: none;
}

/* Blogs */

.blogs {
  background: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/935d26ae03315201b50dd7cc/wsqe-min.jpg)
    top no-repeat;
  background-size: cover;
  padding: 60px 0;
}

.blogs_inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blogs_item {
  width: calc((100% - 40px) / 3);
  padding: 50px 30px;
  background: rgba(255, 255, 255, 0.6);
}

.blogs_item:nth-last-child(n + 4) {
  margin-bottom: 20px;
}

.blogs_head {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.blogs_number {
  font-family: "Roboto", sans-serif;
  font-size: 96px;
  color: #ca6552;
  line-height: 1;
  margin-right: 25px;
}

.blogs_title {
  line-height: 1.2;
}

.blogs_text {
  margin-bottom: 35px;
}

.blogs_link {
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid #de392e;
}

/* Media */

@media (max-width: 1199px) {
  .container {
    max-width: 940px;
  }
  .blogs_head {
    margin-bottom: 25px;
  }
  .blogs_number {
    margin-right: 18px;
  }
  .blogs_title {
    font-size: 22px;
    word-break: break-word;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
    position: relative;
  }
  .nav {
    display: none;
  }
  .blogs_item {
    width: calc((100% - 20px) / 2);
  }
  .blogs_item:nth-last-child(n + 3) {
    margin-bottom: 20px;
  }

  .burger {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 1;
  }
  .burger_line {
    height: 3px;
    background: #111111;
  }
}

@media (max-width: 770px) {
  .container {
    max-width: 540px;
  }
  .blogs_item {
    width: 100%;
    padding: 30px;
  }
  .blogs_number {
    font-size: 120px;
    margin-right: 30px;
  }
  .blogs_item:nth-last-child(n + 2) {
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 340px;
  }
}
